body {
    background-color: rgba(191, 197, 198, 0.26);
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top:3vw;
    margin-bottom:3vw;
    font-family:'Times New Roman', Times, serif;
}

header > img {
    display:flex;
    flex: 1 1 auto;
    margin-left: auto;
    margin-right: auto;
    width:60vw;
    height: 15vw;
}

nav ul {
    display:flex;
    flex: 1 1 auto;
    justify-content: center;
    list-style: none;
    text-align: center;
    background-color: rgb(61, 50, 50);
    border-radius: 1vw;
}

nav li {
    display: inline-flex;
}

li > a {
    font-size:2.5vw;
    color:aliceblue; 
    margin: 1vw;
    text-decoration: none;
}

li > a:hover {
    color:cyan;
    text-shadow: 0vw 0vw 1vw white;
}

section  {
    display: flex;
}

article.promotion-banner {
    background: url('https://images.pexels.com/photos/11161425/pexels-photo-11161425.jpeg?cs=srgb&dl=pexels-shameel-mukkath-11161425.jpg&fm=jpg') center center no-repeat;
    min-height: 10vw;
    background-size:cover;
    color:ghostwhite;
}

article:hover {
    box-shadow: 1vw 1vw 1vw rgba(42, 41, 41, 0.5); /* Shadow effect */
}


h1 {
    font-size: 2.5rem;
    margin: 1vw;
    animation: rainbow 5s infinite;
}

@keyframes rainbow {
    0% { text-shadow: 0 0 5px red; }
    10% { text-shadow: 0 0 5px orange; }
    20% { text-shadow: 0 0 5px yellow; }
    30% { text-shadow: 0 0 5px green; }
    40% { text-shadow: 0 0 5px blue; }
    50% { text-shadow: 0 0 5px indigo; }
    60% { text-shadow: 0 0 5px violet; }
    70% { text-shadow: 0 0 5px red; }
    80% { text-shadow: 0 0 5px orange; }
    90% { text-shadow: 0 0 5px yellow; }
    100% { text-shadow: 0 0 5px green; }
}

h2 {
    font-size: 1.5rem;
    margin: 1vw;
    text-align: center;
}

p {
    margin:1vw;
}

h1 + p {
    padding-top: 1vw;
    text-align:justify;
    animation: rainbow 5s infinite;
}

article{
    flex:1 1 auto;
    background-color: bisque;
    margin:1vw;
    border-radius: 2vw;
    min-height:30vh;
}

.articles {
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 1vw;
}

article img{
    height: 15vw;
    border-radius: 1vw;
    margin:1vw;
    image-rendering: auto;
}

center + p {
    text-align: left;
}

article > a {
    margin:1vw;
    display:inline-block;
}

article > ul {
    list-style: none;
    margin:1vw;
}

footer {
    display:flex;
}

div {
    flex:1 1 auto;
    width:50vw;
    margin: 1vw;
}

div > img {
    width:6vh;
}

div > hr {
    margin-top: 3vh;
}

div > p {
    text-align: right;
} 

article.about > p {
    text-align:justify;
}

span {
    margin:1vw;
    display:inline-block;
    text-align:center
}

span > a {
    padding:1vw;
}
